.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Agrega esta línea para que la posición sea relativa */
}

.img-start {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  box-sizing: border-box;
  margin-top: 50px;
}

.form-register {
  text-align: center;
  color: black;
}

.text-center {
  text-align: center;
  font-size: 24px;
}

.fields {
  margin-bottom: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field label {
  color: black;
}

.field input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.actions button {
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  background-color: #FFB347;
  color: white;
  border-radius: 10px;
  border: 0px solid white;
  cursor: pointer;
}

.actions button:hover {
  background-color: #FFA933;
}
